<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<nav>
  <ul>
    <li><a href="/">HOME</a></li>
  <li><a href="/NOVEDADES">NOVEDADES</a></li>
  <li><a href="/PRODUCTOS">PRODUCTOS</a></li>
  <li><a href="/CURIOSIDADES">CURIOSIDADES</a></li>
  <li><a href="/CONOCENOS">CONOCENOS</a></li>
  </ul>
</nav>


    {{{body}}}
  </body>
</html>
