<!DOCTYPE html>
<html>

<head>
  <title>{{Sabores}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1></h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/Novedades">Novedades</a></li>
      <li><a href="/Productos">Productos</a></li>
      <li><a href="/curiosidades">Curiosidades</a></li>
      <li><a href="/Conocenos">Conocenos</a></li>
    </ul>
  </nav>

  {{{body}}}
</body>

</html>